.container {
  left: 0;
  right: 0;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  text-align: center;
}

.CircularProgressbar-path {
  stroke: var(--ion-color-primary) !important;
}

.CircularProgressbar-trail {
  stroke: var(--ion-item-background) !important;
}

.CircularProgressbar-text {
  fill: var(--ion-color-primary) !important;
}
