.rounded {
  border-radius: 30px !important;
}

.card-image-container {
  width: 100%;
  overflow: hidden;
  transform: translateZ(0);
}

.card-image {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card-header {
  padding: 22px 30px 22px 30px;
}

.card-image-skeleton {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 56.25%;
  line-height: 0px;
}

.card-author-skeleton {
  height: 14px;
  width: 30%;
}

.card-title-skeleton {
  height: 24px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 0px;
}

.md .card-title-skeleton {
  height: 21px;
  margin-bottom: 0px;
}

.text-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
